---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Scott Hallock</title>
  </head>
  <body>
    <h1 class="font-bold text-3xl">My little space on the internet</h1>
  </body>
</html>
