---
import Hr from "../components/Hr.astro";
---

<footer class="mt-auto">
  <Hr />
  <div class="flex">
    <span class="px-4 py-2">
      &copy; {new Date().getFullYear()} Scott Hallock
    </span>
    <a href="" class="ml-auto px-4 py-2 hover:underline">GitHub</a>
    <a href="" class="px-4 py-2 hover:underline">LinkedIn</a>
  </div>
</footer>
