---
---

<a class="relative m-4 group select-none" href="javascript:void(0)">
  <span class="flex items-end">
    <span class="text-3xl text-zinc-300">scotthallock</span>
    <span
      class="text-xl text-zinc-950 px-2 ml-1 align-bottom bg-emerald-400 translate-y-0.5 group-hover:translate-x-8 transition-transform ease-in-out duration-200 will-change-transform"
      >.dev</span
    >
  </span>
  <div
    class="absolute h-0.5 w-full bg-gradient-to-r from-indigo-400 from-10% via-sky-400 via-30% to-emerald-400 to-70%"
  >
  </div>
</a>
