---
interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<li class="relative group">
  <a class="" href={href}>{name}</a>
  <div class="absolute h-0.5 w-full overflow-hidden">
    <div
      class="absolute h-0.5 w-full -translate-x-[105%] group-hover:translate-x-0 will-change-transform transition-transform duration-300 bg-gradient-to-r from-indigo-400 via-sky-400 to-emerald-400"
    >
    </div>
  </div>
</li>
